html {
  scroll-behavior: smooth;
}
body
{
	font-family:"Rubik", sans-serif;
    font-size: 12px;
    line-height: 26px;
    color: #797979;
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	color: #679509;
	margin:0 0 15px 0;
	padding:0;
	text-transform:capitalize;
	font-family:"Rubik", sans-serif;
}

h1 {
	font-size: 30px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size: 24px;

}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
a {

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover {
	text-decoration: none;
	color: #ed4c58;
}


.row .row {
  padding: 0;
}
.clear
{
	clear:both;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #679509;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    letter-spacing: 0.5;
    outline:0px;
    font-family:"Rubik", sans-serif;
    border:0;

}
.btn:hover
{
	color: #fff;
  background-color: #f49d1a;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/*================================================
Header Area CSS
=================================================*/
.header-area
{

    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 99;
    min-height: 70px;
    padding: 0;
    border-bottom: 1px solid rgb(103, 149, 9);
}
/******top offer area  start*******/
.top-offer{
  background-color:#ffc107;
}

.top-offer .offer-bar{
  font-size: 16px;
  color: #fff;
  padding-top: 8px;
  text-align: center;
  background: #ff00007d;
}
.top-offer .offer-bar-two{
  font-size: 16px;
  color: #fff;
  padding-top: 8px;
  text-align: center;
  background: #ffc107;
}
#header-top .main-menu{
  margin: 0;
}
/******end top offer area  start*******/

/******logo area  start*******/
.grocery-top .logo img{
  width:110%;
}
#header-top .tb-lef-div {
    left: 261px;
    top: 10px;
}
#header-top .tb-lef-div ul li{
  display: inline-block;
  padding:8px;
}

#header-top .tb-lef-div a{
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  padding-right: 5px;
  border-color: #679509;
}
#header-top .tb-lef-div span,i{
  color: #000;
  padding-top:0px;
}
#header-top .tb-rght{
  right: 20px;
}
.tb-btn i{
    margin: -18px;
    color: #fff;
  }
.tb-btn{
  height: 38px;
  width: 38px;
  border:none;
  background-color: #a4c360ab;
  }

.form-inline .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border:0px;
}

.form-inline .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-inline .form-control {
    width: 200px;
    border-radius: 0px;
  }
.navbar-expand-md {

    justify-content: space-between;
}
/******End LOGO area  start*******/

/****************MENU area Start**************/
.tb-menu-with {
    width: 799px;
}
.tb-nav .navbar img{
  width: 25%;
}


.navbar-area.is-sticky {
	background: #fff;
    box-shadow: 0 5px 10px -10px rgba(0,0,0,0.6);
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition: transform .5s;
    transform: translateY(100px);
    z-index: 99;
}
.navbar-area.is-sticky .tb-nav .navbar .navbar-nav .nav-item a {
    color: #fff;
}
.navbar-area.is-sticky .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item a {
    color: #797979;
}
.navbar-area.is-sticky .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item a:hover {
    color: #ffc107;
}
.navbar-area.is-sticky .tb-nav .navbar .navbar-nav .nav-item a:hover, .nav-item a:focus {
    color: #f3a225;
}
.navbar-area.is-sticky .tb-nav .navbar .navbar-nav .nav-item.active a {
    color:#f3a225;
}
.header-area .navbar-brand .logodark
{
    display: none;
}
.header-area .is-sticky .navbar-brand .logolight
{
    display: none;
}
.header-area .is-sticky .navbar-brand .logodark
{
    display: block;
}
.navbar-brand img {
    display: block;
    max-width: 280px;
}
.navbar-area.is-sticky .navbar-brand>img {
    max-width: 280px;
}
.tb-nav .navbar-collapse.collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	padding-right:0px;

}
.navbar-area.navbar-style-two {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: auto;
  background-color: transparent;
}

.navbar-area.navbar-style-two .tb-nav {
  background-color: transparent;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item a.active {
  color: #ffffff;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item:hover a, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item.active a {
  color: #ffffff;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #ed4c58;
}

.navbar-area.navbar-style-two .tb-nav .navbar .others-option {
  padding-left: 0;
  margin-left: 24px;
}

.navbar-area.navbar-style-two .tb-nav .navbar .others-option::before {
  display: none;
}

.navbar-area.navbar-style-two .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-area.navbar-style-two.is-sticky {
	opacity: 1;
	visibility: visible;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
		  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	background: #797979 !important;
	-webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
		  animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
}

.is-sticky .tb-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-area.navbar-style-two.is-sticky .tb-nav .navbar .others-option .option-item .default-btn {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #797979;
}

.navbar-area.navbar-style-two.is-sticky .tb-nav .navbar .others-option .option-item .default-btn:hover {
  background-color: #ed4c58;
  color: #ffffff;
  border-color: #ed4c58;
}

.navbar-area.navbar-style-three {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: auto;
  background-color: transparent;
}

.navbar-area.navbar-style-three .tb-nav {
  background-color: transparent;
}

.navbar-area.navbar-style-three .tb-nav .navbar .others-option {
  padding-left: 0;
  margin-left: 24px;
}

.navbar-area.navbar-style-three .tb-nav .navbar .others-option:before {
  display: none;
}

.navbar-area.navbar-style-three .tb-nav .navbar .others-option .option-item .default-btn {
  background-color: #ac0001;
  border-color: #ac0001;
  color: #ffffff;
  border-radius: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.navbar-area.navbar-style-three .tb-nav .navbar .others-option .option-item .default-btn:hover {
  color: #ffffff;
  border-color: #ed4c58;
  background-color: #ed4c58;
}

.navbar-area.navbar-style-three .container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}
html body .dropdown-menu>li>a:focus, html body .dropdown-menu>li>a:hover {
    background-color: transparent;
}
.navbar-area.navbar-style-three.is-sticky {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff !important;
  -webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
          animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
}


/* mobile Menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
  z-index: 9;
}

.sidenav a {
	padding: 10px 0;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
	text-transform: capitalize;
}
.sidenav a:hover {
  color: #333;
}

.sidenav .closebtn {
	position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    margin-left: 0;
}
.menu_open
{
	color: #ed4c58;
	font-size: 24px;
	cursor: pointer;
	margin-right: 20px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu_open:hover
{
	color: #222222;
}
#mySidenav .mobile_menu_li
{
	position:relative;
}
#mySidenavg .mobile_menu_li .head
{
    position: absolute;
    right: 10px;
    top: 15px;
}


#mySidenav .panel.mobile_menu_li {
    margin-bottom: 0;
    background-color: #28aa2f;
    border-bottom: 1px solid #fff !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
	padding: 15px 0;
}
#mySidenav h3
{
	margin: 0;
	padding: 0 0 15px;
	font-size: 20px;
	color: #fff;
	border-bottom: 1px solid #fff;
}
#mySidenav .mobile_menu_li ul li a
{
	padding: 5px 15px;
    font-size: 13px;
    display: inline-block;
}
#mySidenav .mobile_menu_li ul
{
	 padding: 20px 0px 0px;
}
#mySidenav ul li .head .collapsed .plus {
    display: block;
	font-size: 20px;
}
#mySidenav ul li .head .minus {
	font-size: 20px;
}
#mySidenav ul li .head .plus {
    display: none;
}
#mySidenav ul li .head .collapsed .minus {
    display: none;
}
#mySidenav .mobile_menu_li .head {
    position: absolute;
    right: 10px;
    top: 15px;
}
#mySidenav .menu_slid_bg {
    background: #28aa2f;
    max-width: 250px;
    position: relative;
    height: 100%;
    padding: 50px 15px;
}
#mySidenav ul {
    list-style: none;
    padding: 0px;
    margin: 0;
	max-height: 500px;
    overflow: auto;
}


/* mobile Menu */
.tb-responsive-nav {
  display: none;
}
.tb-nav {
	background-color:#679509;
    padding-top:10px;
    padding-bottom:10px;
}

.tb-nav .navbar .navbar-brand {
	font-size: inherit;
	line-height: 1;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.tb-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.tb-nav .navbar .navbar-nav {
  margin-left: auto;
}

.tb-nav .navbar .navbar-nav .nav-item {
  position: relative;
}

.tb-nav .navbar .navbar-nav .nav-item a {
	  font-size: 15px;
    font-weight: 60;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 12px;
    margin-right: 12px;
	text-transform: capitalize;
	color: #ffffff;
}

.tb-nav .navbar .navbar-nav .nav-item a i {
	  font-size: 18px;
    position: relative;
    display: inline-block;
    margin-left: 3px;
}

.tb-nav .navbar .navbar-nav .nav-item a:hover, .tb-nav .navbar .navbar-nav .nav-item a:focus, .tb-nav .navbar .navbar-nav .nav-item a.active {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.tb-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.tb-nav .navbar .navbar-nav .nav-item:hover a, .tb-nav .navbar .navbar-nav .nav-item.active a {
  color: #f6b553;
  border-bottom: 2px solid;
  transition: 0.3s all ease;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	background: #ffffff;
	position: absolute;
	border: none;
	top: 40px;
	left: 0;
	width: 220px;
	z-index: 99;
	display: block;
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	margin: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
	padding: 4px 15px 4px;
	margin: 0;
	position: relative;
	display: block;
	color: #797979;
	border-bottom: 1px solid #deddd9;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 500;
}
.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
	margin: 0;
	position: absolute;
	top: 50%;
	font-size: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
}
.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
	color:#ffc107;
  background-color: #679509;
}
.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	left: -220px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}
.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
	color: #797979;
}
.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}
.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -220px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #797979;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #ed4c58;
}

.tb-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.tb-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.others-option {
	position: relative;
	margin-left: 18px;
	padding-left: 18px;
}

.others-option:before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 2px;
	height: 25px;
	background-color: #bdbbcc;
}

.others-option .option-item {
	display: inline-block;
	margin-left: 20px;
	position: relative;
	z-index: 3;
}

.others-option .option-item:first-child {
	margin-left: 0;
}

.others-option .option-item .search-btn-box {
	position: relative;
	top: 2px;
}

.others-option .option-item .search-btn-box .search-btn {
	font-size: 25px;
	cursor: pointer;
	color: #797979;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.others-option .option-item .search-btn-box .search-btn:hover {
	color: #ed4c58;
}

.others-option .option-item .cart-btn {
	font-size: 25px;
	position: relative;
	line-height: 1;
}

.others-option .option-item .cart-btn a {
	display: inline-block;
	position: relative;
	color: #797979;
}

.others-option .option-item .cart-btn a span {
	position: absolute;
    right: -7px;
    top: -7px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #ed4c58;
    font-size: 10px;
    font-weight: 600;
}

.others-option .option-item .cart-btn a:hover {
	color: #ed4c58;
}

.others-option .option-item .default-btn {
	border-color: #797979;
	background-color: #797979;
	color: #ffffff;
}

.others-option .option-item .default-btn:hover {
	background-color: #ed4c58;
	color: #ffffff;
	border-color: #ed4c58;
}

@media only screen and (max-width: 991px) {
.tb-responsive-nav {
    display: block;
}
.tb-responsive-nav .tb-responsive-menu {
    position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .mean-nav {
    margin-top: 60px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .mean-nav ul {
    font-size: 14px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .mean-nav ul li a.active {
    color: #ed4c58;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 14px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    height: 341px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item {
    overflow: hidden;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .container {
    padding-left: 0;
    padding-right: 0;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row {
    display: block;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row .col {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row .col:last-child {
    margin-bottom: 15px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item a {
    width: 100%;
    float: unset;
    display: block;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title {
    color: #797979;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13.5px;
    font-weight: 600;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title:before {
    width: 30px;
    height: 1px;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #ed4c58;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title:first-child {
    margin-top: 5px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu a {
    border-bottom: none !important;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .mean-expand {
    display: none !important;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu {
    width: auto;
    overflow: hidden;
    display: block !important;
    padding-left: 15px;
    padding-right: 15px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a {
    border: none;
    margin-top: 15px;
    color: #666666;
    padding: 0;
    font-weight: 400;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a:hover, .tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a.active {
    color: #ed4c58;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category {
    position: absolute;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    font-size: 15px;
    font-weight: 600;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .link-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
}
  .tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:not(:first-child) {
    margin-top: 15px;
  }
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover img {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover .category {
    bottom: 10px;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .brand-slides {
    margin-top: 0;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .brand-slides .brand-item a {
    display: block !important;
    padding: 20px !important;
    width: auto !important;
}
.tb-responsive-nav .tb-responsive-menu.mean-container .others-option {
    display: none !important;
}
.tb-responsive-nav .mean-container a.meanmenu-reveal {
    color: #797979;
}
.tb-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #797979;
}
.tb-responsive-nav .logo {
	position: relative;
	width: 30%;
	z-index: 1;
	float: left;
}
.tb-responsive-nav .logo a {
    display: inline-block;
}
.tb-nav {
    display: none;
}
.navbar-area {
    padding-top: 18px;
    padding-bottom: 18px;
}
.navbar-area.navbar-style-two .tb-responsive-nav .mean-container a.meanmenu-reveal {
    color: #ffffff;
}
.navbar-area.navbar-style-two .tb-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #ffffff;
}
.tb-responsive-nav .others-option {
    margin-left: 0;
    padding-left: 0;
    width: 50%;
    float: right;
	text-align: right;
}
.tb-responsive-nav .others-option:before {
    left: auto;
    right: 0;
}
}

/************** silder strat************/
#banner-slider {
  width: 100%;
  height:530px;
  }
#banner-slider .viewport {
 height: 550px;
 background-color: #f6f8f6;
  }

#banner-slider .sliders {
  position: absolute;
  left: 0;
}

#banner-slider .sliders:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

#banner-slider .sliders li img {
  max-width: 100%;
  display: block;
}

#banner-slider .direction-nav a {
  position: absolute;
  top: 21rem;
  color: #eee;
  transition: all .2s;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
 *margin-right: .3em;
  font-size: 3em;
}

#banner-slider .direction-nav a:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

#banner-slider .prev:before {
 content: "\f0a8";
}

#banner-slider .next:before {
  content: "\f0a9";
}

#banner-slider .direction-nav i {
  display: none;
}




#banner-slider .prev {
 left: 14px;
}

#banner-slider .next {
  right: 10px;
}

#banner-slider .control-nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#banner-slider .control-nav li {
  margin: 0 4px;
  display: inline-block;
  zoom: 1;
*display: inline;
}

#banner-slider .control-nav a {
  width: 40px;
  height: 8px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  text-indent: -999em;

}

#banner-slider .control-nav a:hover {
 background-color: #ffc107;
  }

#banner-slider .control-nav .active a {
  background-color: rgb(103, 149, 9);
  cursor: pointer;
}


/***************slider*End********************/
/* fruit  section page  */
/*1 */
#fresh-fruit{
  padding-top: 75px;
  padding-bottom: 60px;
  background: #fff;
}
#fresh-fruit h2{
  color: #fff;
}
#fresh-fruit p{
 font-size: 24px;
 color: #fe45a1;
}
#fresh-fruit .tb-effect-one {
  position: relative;
  width: 100%;
}

#fresh-fruit .tb-effect-one .image {
  display: block;
  width: 100%;
  height: auto;
}

#fresh-fruit .tb-effect-one .overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #1a1d1685;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

#fresh-fruit .tb-effect-one:hover .overlay {
  width: 100%;
  left: 0;
}

#fresh-fruit .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
/*2*/
#fresh-fruit .tb-effect-two {
  position: relative;
  width:100%;
}

#fresh-fruit .tb-effect-two .image {
  display: block;
  width: 100%;
  height: auto;
}

#fresh-fruit .tb-effect-two .overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:#1a1d1685;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

#fresh-fruit .tb-effect-two:hover .overlay {
  width: 100%;
  left: 0;
}



/* End fresh fruits section page  */

/* Feature product section page  */
#featured{
  padding-top: 30px;
}
#feature-product{
  padding-top: 30px;
  padding-bottom: 30px;
}
#feature-product .item{
 padding: 30px;
}


#feature-product .product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#feature-product .product-grid .product-image{
    position: relative;
    overflow: hidden;
}
#feature-product .product-grid .product-image a.image{
 display: block;
}
#feature-product .product-grid .product-image img{
    width: 100%;
    height: 250px;
}
#feature-product .product-image .pic-1{
    backface-visibility: hidden;
    transition: all 0.5s;
}
#feature-product .product-grid:hover .product-image .pic-1{
 opacity: 0;
}
#feature-product .product-image .pic-2{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
#feature-product .product-grid:hover .product-image .pic-2{
 opacity: 1;
 }
 #feature-product .product-grid .product-sale-label{
    color: #fff;
    background: #679509;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 70px;
    height: 25px;
    transform: rotate(-90deg);
    position: absolute;
    top:10px;
    left: -10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
}
#feature-product .product-grid .social{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 5px;
    right: -50px;
    transition: all 0.3s ease;
}
#feature-product .product-grid:hover .product-image .social{
    opacity: 1;
    right: 10px;
}
#feature-product .product-grid .social li{
 margin: 5px 0;
  }
#feature-product .product-grid .social li a{
    color: #333;
    background: #679509;
    font-size: 20px;
    line-height: 35px;
    width: 35px;
    height: 35px;
    display: block;
    position: relative;
    z-index: 1;
    transition: all .3s ease;
}
#feature-product .product-grid .social li a:hover{
    color: #fff;
    background: #ffc107;
}
#feature-product .product-grid .social li a i{
    color: #fff;

}
#feature-product .product-grid .social li a:before, .product-grid .social li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #679509;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    padding: 0 10px 1px;
    white-space: nowrap;
    visibility: hidden;
    position: absolute;
    right: 45px;
    top: 10px;
    transition: all 0.3s;
}
#feature-product .product-grid .social li a:after{
    content: '';
    height: 13px;
    width: 13px;
    padding: 0;
    transform: rotate(45deg);
    right: 43px;
    top: 16px;
    z-index: -1;
}
#feature-product .product-grid .social li a:hover:before, .product-grid .social li a:hover:after{
    visibility: visible;
}
#feature-product .product-grid .social li a:hover:before{
 right: 53px;
}
#feature-product .product-grid .social li a:hover:after{
 right: 51px;
}
#feature-product .product-grid .add-to-cart, .product-grid .quick-view{
    color: #fff;
    background-color: #679509;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    width: 49.5%;
    padding: 7px;
    position: absolute;
    left: 0;
    bottom: -50px;
    transition: all 0.3s;
}
#feature-product .product-grid .quick-view{
    left: auto;
    right: 0;
}
#feature-product .product-grid:hover .add-to-cart:hover, .product-grid:hover .quick-view:hover{
    background-color: #ffc107;
}
#feature-product .product-grid:hover .add-to-cart, .product-grid:hover .quick-view{
    bottom: 0;
}
#feature-product .product-grid .product-content{
    padding: 12px 0;
    text-align: left;
}
#feature-product .product-grid .title{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 5px;
}
#feature-product .product-grid .title a{
    color: #333;
    transition: all 0.4s ease-out;
}
#feature-product .product-grid .title a:hover{
  color: #3eb291;
}
#feature-product .product-grid .price{
    color:#679509;
    font-size: 15px;
    font-weight: 500;
}
#feature-product .product-grid .price span{
    color: #fe45a1;
    font-size: 15px;
    text-decoration: line-through;
    margin-right: 5px;
    display: inline-block;
}

/* End Feature product section page  */


/*  Fruit Products section page  */
#fruit-product{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f8f6;
}
#fruit-product i{
  color: #fff;
  padding: 0;
}
#fruit-product .item{
  color: #fff;
  padding:10px;
}
#fruit-product .product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
 }
#fruit-product .product-grid .product-image{
    position: relative;
    overflow: hidden;
}
#fruit-product .product-grid .product-image a.image{
 display: block;
}
#fruit-product .product-grid .product-image img{
    width: 100%;
    height: auto;
}
#fruit-product .product-image .pic-1{ transition: all 0.5s; }
.product-grid:hover .product-image .pic-1{
    opacity: 0;
    transform: scale(1.1);
    transform-origin: left bottom;
}
#fruit-product .product-image .pic-2{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transform-origin: top right;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
#fruit-product .product-grid:hover .product-image .pic-2{
    opacity: 1;
    transform: scale(1);
}
#fruit-product .product-grid .product-hot-label, .product-grid .product-discount-label{
    color: #fff;
    background: #35ce4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 8px;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all .3s ease;
}
#fruit-product .product-grid .product-discount-label{
  background: #fe45a1;
}
#fruit-product .product-grid .product-links{
    width: 135px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}
#fruit-product .product-grid:hover .product-links{
    opacity: 1;
    bottom: 30px;
}
#fruit-product .product-grid .product-links li{
    display: inline-block;
    margin: 0 3px;
}
#fruit-product .product-grid .product-links li a{
    color: #232323;
    background:#679509;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: block;
    transition: all 0.3s ease 0s;
}
#fruit-product .product-grid .product-links li a:hover{
    color: #fff;
    background: #ffc107;
}
#fruit-product .product-grid .product-content{
    text-align: center;
    padding: 15px 15px 0;
    position: relative;
}
#fruit-product .product-grid .add-to-cart{
    color: #fff;
    background: #679509;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 60%;
    padding: 8px 3px;
    opacity: 0;
    transform: translateX(-50%) translateY(0);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
#fruit-product .product-grid .add-to-cart:hover{
 background: #ffc107;
}
#fruit-product .product-grid:hover .add-to-cart{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}
#fruit-product .product-grid .add-to-cart i{
  margin: 0 5px 0 0;
}
#fruit-product .product-grid .title{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 7px;
}
#fruit-product .product-grid .title a{
    color: #444;
    transition: all 0.3s ease;
}
#fruit-product .product-grid .rating{
    padding: 0;
    margin: 0 0 8px;
    list-style: none;
}
#fruit-product .product-grid .rating li{
    color: #fecc2f;
    font-size: 13px;
}
#fruit-product .product-grid .rating li.far{
 color: #999999;
}
#fruit-product .product-grid .price{
    color: #679509;
    font-size: 15px;
    font-weight: 60;
    margin: 0 0 5px;
    transition: all 0.3s;
}
#fruit-product .product-grid:hover .title a, .product-grid:hover .rating, .product-grid:hover .price{
    opacity: 0;
}
#fruit-product .product-grid .price span{
    color: #fe45a1;
    font-weight: 500;
    text-decoration: line-through;
    margin: 0 5px 0 0;
    display: inline-block;
}


/* Fruit-product End section page  */
/**********vegetable section*************/
#vegetable-product{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}
#vegetable-product i{
  color: #fff;
  padding: 0;
}
#vegetable-product .item{
  color: #fff;
  padding:10px;
}
#vegetable-product .product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
 }
#vegetable-product .product-grid .product-image{
    position: relative;
    overflow: hidden;
}
#vegetable-product .product-grid .product-image a.image{
 display: block;
}
#vegetable-product .product-grid .product-image img{
    width: 100%;
    height: auto;
}
#vegetable-product .product-image .pic-1{ transition: all 0.5s; }
.product-grid:hover .product-image .pic-1{
    opacity: 0;
    transform: scale(1.1);
    transform-origin: left bottom;
}
#vegetable-product .product-image .pic-2{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transform-origin: top right;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
#vegetable-product .product-grid:hover .product-image .pic-2{
    opacity: 1;
    transform: scale(1);
}
#vegetable-product .product-grid .product-hot-label, .product-grid .product-discount-label{
    color: #fff;
    background: #35ce4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 8px;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all .3s ease;
}
#vegetable-product .product-grid .product-discount-label{
  background: #fe45a1;
}
#vegetable-product .product-grid .product-links{
    width: 135px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}
#vegetable-product .product-grid:hover .product-links{
    opacity: 1;
    bottom: 30px;
}
#vegetable-product .product-grid .product-links li{
    display: inline-block;
    margin: 0 3px;
}
#vegetable-product .product-grid .product-links li a{
    color: #232323;
    background:#679509;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: block;
    transition: all 0.3s ease 0s;
}
#vegetable-product .product-grid .product-links li a:hover{
    color: #fff;
    background: #ffc107;
}
#vegetable-product .product-grid .product-content{
    text-align: center;
    padding: 15px 15px 0;
    position: relative;
}
#vegetable-product .product-grid .add-to-cart{
    color: #fff;
    background: #679509;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 60%;
    padding: 8px 3px;
    opacity: 0;
    transform: translateX(-50%) translateY(0);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
#vegetable-product .product-grid .add-to-cart:hover{
 background: #ffc107;
}
#vegetable-product .product-grid:hover .add-to-cart{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}
#vegetable-product .product-grid .add-to-cart i{
  margin: 0 5px 0 0;
}
#vegetable-product .product-grid .title{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 7px;
}
#vegetable-product .product-grid .title a{
    color: #444;
    transition: all 0.3s ease;
}
#vegetable-product .product-grid .rating{
    padding: 0;
    margin: 0 0 8px;
    list-style: none;
}
#vegetable-product .product-grid .rating li{
    color: #fecc2f;
    font-size: 13px;
}
#vegetable-product .product-grid .rating li.far{
 color: #999999;
}
#vegetable-product .product-grid .price{
    color: #679509;
    font-size: 15px;
    font-weight: 60;
    margin: 0 0 5px;
    transition: all 0.3s;
}
#vegetable-product .product-grid:hover .title a, .product-grid:hover .rating, .product-grid:hover .price{
    opacity: 0;
}
#vegetable-product .product-grid .price span{
    color: #fe45a1;
    font-weight: 500;
    text-decoration: line-through;
    margin: 0 5px 0 0;
    display: inline-block;
}

/* vegetable section end */
/* blog section */

#blog{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f8f6;
}
#blog .blog-first{
  text-align: center;
  margin: 30px 0px;
}
#blog .blog-first .blog-img {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;

}
#blog .blog-first .info{
  padding-top: 20px;
}

#blog .blog-img img {
    transition: transform 0.5s;
    width: 100%;
}
 #blog .tb-effect-two {
  position: relative;
  width:100%;
}

#blog .tb-effect-two .image {
  display: block;
  width: 100%;
  height: auto;
}

#blog .tb-effect-two .overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:#1a1d1685;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

 #blog .tb-effect-two:hover .overlay {
  width: 100%;
  left: 0;
}
#blog .mrg-set{
  margin-top: 30px;
}
/*****end blog***********/

#banner-category .text-heading h1{
  padding: 75px;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.btn-set{
   margin-top: 230px;
   margin-left: 290px;
   margin-right:00px;
   margin-bottom: 230px;
}
/******Add to Cart*******/
#add-to-cart span{
  margin-left: 100px;
  text-align: center;
}
#add-to-cart p{
  font-size: 24px;
}
/***chechout*****/
#check-out .tb-mt-pd{
  padding-top: 1.5rem;
  margin-top: 3rem;
}
#check-out .tb-left{
  margin-bottom: 1.5rem;
}
#check-out .tb-usr-nm{
  margin-bottom: .5rem ;
}
#check-out .tb-form{
  padding: 21px;
}
#check-out .margin-set{
  margin-bottom: 1rem;
}

#check-out .tb-mr-bt{
margin-bottom: 3rem ;
padding-left: 0;
}
/****End*******/
/*****product page*******/
#product-page{
  padding-bottom: 30px;
}
#product-page h2{
  font-size:24px;
}
#product-page .reviews_padding{
  padding-top: 24px;
}
#product-page .btn-des{
   display: inline-block;
margin-bottom: 0;
font-weight: 5;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
padding: 15px 25px;
font-size: 14px;
border-radius: 0px;
background-color: transparent;
color: #679509;
text-transform: uppercase;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
letter-spacing: 0.5;
outline: 0px;
font-family: "Rubik", sans-serif;
border: 0;
}
#product-page .preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  }



#product-page .preview-pic {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
    -ms-flex-positive: 1;
        flex-grow: 1; }

#product-page .preview-thumbnail.nav-tabs {
border: none;
margin-top: 15px; }
#product-page .preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
#product-page .preview-thumbnail.nav-tabs li img {
   max-width: 100%;
   display: block; }
#product-page .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
#product-page .preview-thumbnail.nav-tabs li:last-of-type {

margin-right: 0; }

#product-page .tab-content {
overflow: hidden; }
#product-page .tab-content img {
width: 100%;
-webkit-animation-name: opacity;
animation-name: opacity;
-webkit-animation-duration: .3s;
animation-duration: .3s;
}

#product-page .card {
margin:0px;
background: #fff;
padding: 3em;
border: none;
}

@media screen and (min-width: 997px) {
#product-page .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  }
}

#product-page .details {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column; }


#product-page .product-title, .price, .sizes, .colors {
text-transform: UPPERCASE;
font-weight: 500;
}

#product-page .checked, .price span {
color: #ff9f1a; }

#product-page .product-title, .rating, .product-description, .price, .vote, .sizes {
margin-bottom: 15px; }

#product-page .product-title {
margin-top: 0; }

#product-page .size {
margin-right: 10px;
}
#product-page.size:first-of-type {
  margin-left: 40px;
   }

#product-page .color {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
height: 2em;
width: 2em;
border-radius: 2px;
}
#product-page .color:first-of-type {
  margin-left: 20px;
   }

#product-page .add-to-cart, .like {
background: #ff9f1a;
padding: 1.2em 1.5em;
border: none;
text-transform: UPPERCASE;
font-weight: bold;
color: #fff;
-webkit-transition: background .3s ease;
 transition: background .3s ease;
      }
#product-page .add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff;
   }

#product-page .not-available {
text-align: center;
line-height: 2em; }
#product-page .not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
   }

#product-page .orange {
background: #ff9f1a;
}

#product-page .green {
background: #85ad00;
}

#product-page .blue {
background: #0076ad; }

#product-page .tooltip-inner {
padding: 1.3em;
}

@-webkit-keyframes opacity {
0% {
  opacity: 0;
  -webkit-transform: scale(3);
          transform: scale(3); }
100% {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); } }

  @keyframes opacity {
  0% {
  opacity: 0;
  -webkit-transform: scale(3);
          transform: scale(3); }
  100% {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); } }
/******End*******/

/*******Login********/
#login{
  padding-top: 30px;
  padding-bottom: 30px;
}

#login .myRightCtn
{
    position: relative;
    background-image: linear-gradient(45deg, #679509, #679509 );
    border-radius:0px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
#login .myLeftCtn
{
   position: relative;
    background: transparent;
    border-radius:0px;
    height: 100%;
    padding: 0px;

}
#login .myLeftCtn header
{
color: #679509;
font-size: 30px;
font-weight: 500;
margin-bottom: 26px;
margin-top: 3rem;
}


#login .myCard
{
   background: #fff;
   border-radius: 0px;


}
#login .form-group i{
  font-size: 24px;
}


#login .myRightCtn header
{
    color: #fff;
    font-size: 40px;
}

#login .box
{
    position: relative;
    top:20%;
    transform: translate(0,-40%);
    margin: 20px;
    margin-bottom: 100px;

}
#login .box p
{

    margin-top: 20px;
    margin-bottom: 20px;

}

#login .myLeftCtn .myInput
{
    width: 90%;
    border-radius: 0px;
    padding: 10px;

border: 1px solid #a4a9ae70;
   }

#login .myLeftCtn .myInput:focus
{
    outline: none;
}

#login .myForm
{
    position: relative;
    top: 35%;
    transform: translate(0,-50%);
}


#login .myLeftCtn .butt
{
    background:  linear-gradient(45deg, #f49d1a, #f49d1a );
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 0px;
    padding: 10px;

}

#login .myLeftCtn .butt:hover
{
    background:  linear-gradient(45deg, #679509, #679509 );

}

#login .myLeftCtn .butt:focus
{
    outline: none;
}


#login .myLeftCtn .fas
{
    position: relative;
    color: #bb36fd;
    left: 36px;
}

#login .btn
{
    background: #f49d1a;
    color: #fff;
    width: 120px;
    border: 1px solid#fff;
    border-radius: 0px;
    padding: 10px;

}

#login .btn:hover
{
    border: 1px solid #fff;
    background-color: #679509;
}


#login .butt_out:focus
{
    outline: none;
}

/******End**********/


/*******contact********/
#contact{
  padding-top: 30px;
}



#contact  .myInput
{
    width: 90%;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #a4a9ae70;
   }

#contact .myLeftCtn .fas
{
    position: relative;
    color: #bb36fd;
    left: 36px;
}
#contact textarea{
  margin-left: 23px;
}
#contact .cont-right{


}
#contact .cont-right img{
    width: 100%;
}
#contact .cont-left
{
  margin-top: 6rem;
}
/***********contact end*********/

/**************************************************
	footer *****************************/

#footer {
	padding: 50px 0;
	background: #020202;
	text-align: center;
}
#footer .social-links {
    margin: 0 0 40px 0;
    width: 100%;
    padding-top: 7px;

}
#footer a{
  text-decoration: none;
  color: #fff;
}
#footer h3{
  color: #fff;
}
#footer .hr-color{
  color: #f49d1a;
  border: 2px solid;
}
#footer .colr-font{
  color: #fff;
}
#footer .social-links ul {
  display: flex;

}

#footer .social-links ul li {
  list-style: none;

}

#footer .social-links ul li a {
    width: 40px;
    height: 40px;
    background-color: #f49d1a;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 0 3px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#footer .social-links ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

#footer .social-links ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

#footer .social-links ul li a:before {
  /*content:'';*/
  position:absolute;
  top: 100%;
  left:0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

#footer .social-links ul li a:hover:before {
  top: 0;
}

#footer .social-links ul li:nth-child(1) a:before{
  background: #3b5999;
}

#footer .social-links ul li:nth-child(2) a:before{
  background: #55acee;
}

#footer .social-links ul li:nth-child(3) a:before {
  background: #0077b5;
}

#footer .social-links ul li:nth-child(4) a:before {
  background: #dd4b39;
}
#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer .footer_copyright
{
    width: 100%;
}
#footer .footer_copyright p
{
	  margin:0px;
    font-style: normal;
    color: #fff;
}
#footer .footer_copyright a
{
	color:#f49d1a;
}
#footer .footer_copyright a:hover
{
	color:#b8b8a1;
}

/* ******************************back-to-top scrtion *******************************************/
.back-to-top
{
  cursor: pointer;
  z-index: 1000;
  background-color: #777;
  width: 43px;
  bottom: 35px;
  right: 34px;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
  position: fixed;
  display: block;
  text-align: center;
  border-radius: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.back-to-top.hidden-top
{
    bottom: -100px;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.back-to-top:hover {
    background-color: #d5d5c7;
}
.back-to-top i
{
   font-size: 30px;
    margin: 0;
    color: #fff;
    display: block;
    height: 43px;
    line-height:43px;
    background: #f49d1a;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.back-to-top i:hover
{
    background: #CDCDB6;
}
.back-to-top i:before
{
    content: '\f102';
}
/* ****************************** back-to-top scrtion end*******************************************/
